<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CarService</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" id="add_car_btn" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      <mat-icon> directions_car</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="container">
  <div style="margin: 1rem 10%; width: 80%;" *ngFor="let car of carList">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header style="font-size:1.2rem;">
          <mat-panel-title>
            {{car.brand}}
          </mat-panel-title>
          <mat-panel-description>
            {{car.model}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin:auto 20%;width:60%">
          <div *ngFor="let name of maintNames">
            <p style="font-size: 1.6rem; margin: 2.2rem auto 1.2rem; font-weight: bold; color:#f5fc7c">{{name}}</p>
            <p style="font-size: 1.2rem;">Average maintainance occurrence: <span style="font-weight: bold; font-size: 1.3rem;">{{getAvgDist(car.id,name)?getAvgDist(car.id,name):"-"}}</span> km</p>
            <p style="font-size: 1.2rem;">Average cost of maintainance: <span style="font-weight: bold; font-size: 1.3rem;">{{getAvgCost(car.id,name)?getAvgCost(car.id,name):"-"}}</span>€</p>
          </div>
        </div>
        <button mat-icon-button (click)="openMaintDialog(car.id)"><mat-icon>build</mat-icon></button>
      </mat-expansion-panel>
  </div>
<router-outlet></router-outlet>
